:root{
  --color-primary: hsl(179, 62%, 43%);
  --color-secondary: hsl(71, 73%, 54%);
  --color-neutral-primary: hsl(204, 43%, 93%);
  --color-neutral-secondary: hsl(218, 22%, 67%);
}

*{
  box-sizing: border-box;
  margin: auto;
  font-family: 'Karla', 'Courier New', Courier, monospace;
  font-size: 16px;
}

body{
  background-color: var(--color-neutral-primary);
  display: grid;
  place-content: center;
  height: 100vh;
}

.container{
  max-width: 1440px;
  width: 95%;
  margin: auto;

}

.card{
  box-shadow: 0px 0px 20px 0px hsl(203, 9%, 73%);
  border-radius: 0.7rem;
  max-width: 600px;
  overflow: hidden;

}

.card__top{
  background-color: white;
  padding: 2rem;
}

.card__heading{
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.card__subheading{
  color: var(--color-secondary);
  font-size: 1.1rem;
  font-weight: 700;
}

p{  line-height: 1.6;
  font-size: 0.9rem;
  color: var(--color-neutral-secondary);
  margin-top: 1rem;
}

.card__bottom{
  display: flex;
  flex-wrap: wrap;

}
.col{
  width: 50%;
  padding: 2rem;
  height: 250px;
}

.color-1{
  background-color: var(--color-primary);
  
}
.color-2{
  background-color: hsl(179, 47%, 52%);
}

.col h2{
  color: var(--color-neutral-primary);
}
.col p{
  color: var(--color-neutral-primary);
  font-size: 0.8rem ;
}
.price{
  font-size: 1.5rem;
  font-weight: 700;
}

.button{
  background-color: var(--color-secondary);
  display: block;
  text-align: center;
  padding: 0.8rem;
  color: white;
  border-radius: .5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: box-shadow 0.5s ease-in-out;
}

.button:hover{
  box-shadow: 0px 5px 10px 0px hsl(180, 62%, 32%);
}

@media only screen and (max-width:420px){

  .col{
    width: 100%;
  }
  
}